.navbar {
  background-color: #fff;
  display: flex;
  padding-left: 120px;
}

.navbar .toolbar {
  padding: 15px 15px;
}

.navbar .menu-icon {
  color: rgb(60, 60, 60);
}

.navbar .title {
  margin-top: 23px;
  font-size: 26px;
  font-weight: 800;
  color: rgb(60, 60, 60);
}

.header__Rightlinks {
  display: flex;
  margin-left: auto;
  padding-right: 120px;
}

.navbar__link {
  text-decoration: none !important;
}

/* Responsive Design Adjustments */
@media screen and (max-width: 768px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__Rightlinks {
    padding-right: 20px;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding-left: 10px;
  }
  .header__Rightlinks {
    display: none; /* Hide the right links on small screens */
  }
}

.list-item:hover {
  background-color: #f0f0f0;
}
